body[class*=version_4-4] #tl_navigation .tl_level_1_group .group-iidoShop,
body[class*=version_4-5] #tl_navigation .tl_level_1_group .group-iidoShop {
    background: url(../../images/icons/shop.svg) 3px 2px no-repeat;
    background-size: 14px 14px;
}

.header_shop_products_import,
.header_shop_product_categories {
    padding: 3px 0 3px 21px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 15px;

    background-image: url(/system/themes/flexible/icons/theme_import.svg);
}
.header_shop_product_categories {
    background-image: url(../../images/icons/categories.png);
}

tr.in-use > td.tl_file_list > span.in-use {
    text-decoration: line-through;
}

.import-choose:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.import-choose > .widget {
    float: left;
    clear: none !important;
    width: auto !important;
}

.widget > div.be_explanation {
    font-size: 0.875rem;
}

.tl_content_left:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}
.tl_content_left > span.product-name,
.tl_content_left > span.product-categories,
.tl_content_left > span.product-item-number {
    float: left;
    display: block;
}
.tl_content_left > span.product-name {
    width: 300px;
}
.tl_content_left > span.product-item-number {
    width: 210px;
}
.tl_content_left > span.product-categories {
}

.backend-container.shop-settings-container,
.backend-container.shop-statistic-container {
    padding: 40px 35px 15px;
}

.backend-container.shop-settings-container .setting-container,
.backend-container.shop-statistic-container .statistic-container {
    margin: 0 0 25px;
}

.backend-container.shop-settings-container .setting-container a,
.backend-container.shop-statistic-container .statistic-container a {
    display: block;
    position: relative;

    width: 100%;
    height: 95px;
    line-height: 95px;

    border: 1px solid #ddd;
    background: #e9e9e9;

    padding: 0 0 0 165px;

    color: #222;
    font-size: 18px;
    text-transform: uppercase;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.backend-container.shop-settings-container .setting-container a,
.backend-container.shop-statistic-container .statistic-container a,
.backend-container.shop-settings-container .setting-container.payment-setting a,
.backend-container.shop-settings-container .setting-container.shipping-setting a {
    background-image: url("../../images/icons/settings-payment_black.png");
    background-repeat: no-repeat;
    background-position: 40px center;

    -webkit-background-size : auto 65px;
    background-size         : auto 65px;
}

.backend-container.shop-settings-container .setting-container.shipping-setting a {
    background-image: url("../../images/icons/settings-shipping_black.png");
}
.backend-container.shop-settings-container .setting-container.configuration-setting a {
    background-image: url("../../images/icons/configurator_black.svg");
}
.backend-container.shop-settings-container .setting-container.voucher-setting a {
    background-image: url("../../images/icons/settings-voucher_black.svg");
}
.backend-container.shop-statistic-container .statistic-container.ai-statistic a,
.backend-container.shop-settings-container .setting-container.ai-setting a {
    background-image: url("../../images/icons/settings-ai_black.png");
}

.backend-container.shop-statistic-container .statistic-container a:hover,
.backend-container.shop-settings-container .setting-container a:hover {
    color: #f47c00;
    background-color: #e0e0e0;
}
.backend-container.shop-settings-container .setting-container.payment-setting a:hover {
    background-image: url("../../images/icons/settings-payment_orange.png");
}
.backend-container.shop-settings-container .setting-container.shipping-setting a:hover {
    background-image: url("../../images/icons/settings-shipping_orange.png");
}
.backend-container.shop-settings-container .setting-container.configuration-setting a:hover {
    background-image: url("../../images/icons/configurator_orange.svg");
}
.backend-container.shop-settings-container .setting-container.voucher-setting a:hover {
    background-image: url("../../images/icons/settings-voucher_orange.svg");
}
.backend-container.shop-statistic-container .statistic-container.ai-statistic a:hover,
.backend-container.shop-settings-container .setting-container.ai-setting a:hover {
    background-image: url("../../images/icons/settings-ai_orange.png");
}

.backend-container.shop-statistic-container .statistic-container a:after {
    content: '';

    position: absolute;
    bottom: 0; left: 80px;

    width: 60px; height: 60px;

    background-image: url("../../images/icons/chart-graph_black.svg");
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-background-size : 100% auto;
    background-size         : 100% auto;
}
.backend-container.shop-statistic-container .statistic-container a:hover:after {
    background-image: url("../../images/icons/chart-graph_orange.svg");
}



.backend-container .overview-parent-container:not(:first-child) {
    padding: 50px 0 0;
}

.backend-container .tl_content_header > span,
.backend-container .tl_content_left > span {
    display: inline-block;
}

.backend-container .tl_content_header .name,
.backend-container .tl_content_left > span.title {
    width: 380px;
}
.backend-container .tl_content_left > span.title {
    width: 374px;
}

.backend-container .tl_content_header .info {
    float: right;
}

.backend-container .tl_content_right .disabled-msg {
    color: #ccc;
}


.questionnaire-data-list .quest-row {
    clear: both;
    margin: 30px 25px 20px;

    border: 1px solid #ddd;
}

.questionnaire-data-list .quest-row .header {
    background: #f3f3f5;
    border-bottom: 1px solid #ddd;

    padding: 5px;

    font-weight: 600;
}

.questionnaire-data-list .quest-row .header .date {
    float: left;
}
.questionnaire-data-list .quest-row .header .id {
    float: right;
}

.questionnaire-data-list .quest-row .header:after,
.questionnaire-data-list .quest-row .data:after,
.questionnaire-data-list .quest-row .data .data-item:after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

.questionnaire-data-list .quest-row .data {
    padding: 15px 20px;
}

.questionnaire-data-list .quest-row .data .data-item {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}

.questionnaire-data-list .quest-row .data .data-item:nth-child(even) {
    background: #f3f3f5;
}

.questionnaire-data-list .quest-row .data .data-item .key {
    float: left;
    width: 200px;
}
.questionnaire-data-list .quest-row .data .data-item .value {
    float: left;
    font-weight: 600;
}
