.questionnaire-container {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}
.questionnaire-container .questionnaire-container-inside {
    position: relative;

    width: 100%;
    height: 100%;
}

.questionnaire-container .progress-bar,
.questionnaire-container .progress-steps {
    display: none !important;
}

.questionnaire-container .progress-steps {
    position: absolute;
    top: 50px; left: 50%;

    /*width: 80%;*/
    width: auto;
    height: 80px;

    padding: 25px 0 0;

    -webkit-transform : translateX(-50%);
    -moz-transform    : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    transform         : translateX(-50%);
    
    opacity: 0;
    visibility: hidden;
}
.questionnaire-container .progress-steps.shown {
    opacity: 1;
    visibility: visible;
}

.questionnaire-container .progress-steps:after,
.questionnaire-container .answers-container-inside:after,
.questionnaire-container .questions-container.questions-3 .questions-container-inside:after,
.questionnaire-container .questions-container.questions-4 .questions-container-inside:after,
.questionnaire-container .questions-container.questions-5 .questions-container-inside:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

.questionnaire-container .progress-steps .progress-page,
.questionnaire-container .progress-steps .progress-page > span {
    position: relative;
    float: left;
    /*display: inline-block;*/
    
    width: 24px;
    height: 24px;

    border: 3px solid #b5b5b5;

    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    border-radius         : 50%;

    margin: 0 108px 0 0;
}
.questionnaire-container .progress-steps .progress-page {
    margin-top: 24px;
}
.questionnaire-container .progress-steps .progress-page:last-child {
    margin-right: 0;
}

.questionnaire-container .progress-steps .progress-page > span {
    position: relative;
    display: block;
    float: none;

    margin: -3px;

    width: 24px;
    height: 24px;

    border-color: #3FBFAD;

    text-indent: -999999em;

    opacity: 0;
    visibility: hidden;

    z-index: 800;
}
.questionnaire-container .progress-steps .progress-page.is-active > span {
    opacity: 1;
    visibility: visible;
}

.questionnaire-container .progress-steps .progress-page:not(:last-child):after,
.questionnaire-container .progress-steps .progress-page.progress-page-4:before,
.questionnaire-container .progress-steps .progress-page.progress-page-6:before {
    content: '';

    position: absolute;
    top: 50%; left: calc(100% + 3px);

    width: 108px;
    height: 3px;

    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);

    background: #b5b5b5;

    z-index: 500;
}

.questionnaire-container .progress-steps .progress-page.progress-page-3:after {
    top: calc(50% - 1px); left: calc(100% + 1px);

    width: 65px;

    -webkit-transform : rotate(-22deg);
    -moz-transform    : rotate(-22deg);
    -ms-transform     : rotate(-22deg);
    -o-transform      : rotate(-22deg);
    transform         : rotate(-22deg);

    -webkit-transform-origin : 0 50%;
    -moz-transform-origin    : 0 50%;
    -ms-transform-origin     : 0 50%;
    -o-transform-origin      : 0 50%;
    transform-origin         : 0 50%;
}

.questionnaire-container .progress-steps .progress-page.progress-page-4:before {
    left: auto; right: calc(100% + 3px);

    width: 50px;
}

.questionnaire-container .progress-steps .progress-page.progress-page-4,
.questionnaire-container .progress-steps .progress-page.progress-page-5 {
    margin-top: 0;
    margin-bottom: 24px;
}
/*.questionnaire-container .progress-steps .progress-page.progress-page-5 {*/
    /*margin-left: 132px;*/
/*}*/

.questionnaire-container .progress-steps .progress-page.progress-page-5:after {
    width: 50px;
}
/*.questionnaire-container .progress-steps .progress-page.progress-page-6 {*/
    /*margin-left: 263px;*/
/*}*/
.questionnaire-container .progress-steps .progress-page.progress-page-6:before {
    top: calc(50% - 1px); left: auto; right: calc(100% + 1px);

    width: 65px;

    -webkit-transform : rotate(22deg);
    -moz-transform    : rotate(22deg);
    -ms-transform     : rotate(22deg);
    -o-transform      : rotate(22deg);
    transform         : rotate(22deg);

    -webkit-transform-origin : 100% 50%;
    -moz-transform-origin    : 100% 50%;
    -ms-transform-origin     : 100% 50%;
    -o-transform-origin      : 100% 50%;
    transform-origin         : 100% 50%;
}

.questionnaire-container .page-item .title,
.questionnaire-container .page-item .question,
.questionnaire-container .page-item .page-question {
    color: #313131;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1em;
}
.questionnaire-container .page-item .question,
.questionnaire-container .page-item .page-question {
    color: #000;
    font-size: 25px;
}
.questionnaire-container .page-item .question-item .description {
    color: #000;
    font-size: 16px;
}

.questionnaire-container .page-item.start-page .page-item-inside > .title,
.questionnaire-container .page-item.start-page .page-item-inside > .description {
    color: #626262;
    font-size: 121px;
}
.questionnaire-container .page-item.start-page .page-item-inside > .description {
    color: #000;
    font-size: 25px;
    font-weight: 300;

    text-transform: uppercase;
    line-height: 1em;
}

/*.questionnaire-container .page-item .question-title,*/
.questionnaire-container .page-item .title,
.questionnaire-container .page-item .description {
    text-align: center;
}

.questionnaire-container .page-item .title span,
.questionnaire-container .page-item .description p {
    position: relative;
    z-index: 400;
}

.questionnaire-container .page-item .question-title,
.questionnaire-container .page-item .page-question-title {
    float: left;

    padding: 45px 0 0;
    margin-left: 50%;
}

.questionnaire-container .page-item .question-item.has-image-map .question-title {
    white-space: nowrap;
}

.questionnaire-container .page-item .question-title .question-title-inside,
.questionnaire-container .page-item .page-question-title .page-question-title-inside {
    -webkit-transform : translateX(-50%);
    -moz-transform    : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    transform         : translateX(-50%);
}
.questionnaire-container .page-item .question-title .question-title-inside > *,
.questionnaire-container .page-item .question-title .question-title-inside p,
.questionnaire-container .page-item .page-question-title .page-question-title-inside > *,
.questionnaire-container .page-item .page-question-title .page-question-title-inside p {
    text-align: left;
}
.questionnaire-container .page-item .question-title .question-title-inside {
    position: relative;
    z-index: 400;
}
/*.questionnaire-container .page-item .question-title .question-title-inside > .description {*/
    /*clear: both;*/
/*}*/

.questionnaire-container .page-item .question-item.question-center .question-title .question-title-inside > *,
.questionnaire-container .page-item .question-item.question-center .question-title .question-title-inside p {
    text-align: center;
}

.questionnaire-container .page-item .description p {
    margin: 0;
}


.questionnaire-container .page-item {
    display: table;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
}
.questionnaire-container .page-item .page-item-inside {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;

    padding: 0 50px;
}

.questionnaire-container .page-item .title + .description {
    padding-top: 30px;
}

.questionnaire-container .page-item.is-active {
    opacity: 1;
    visibility: visible;

    /*z-index: 1200;*/
}

.questionnaire-container .progress-steps,
.questionnaire-container .page-item,
.questionnaire-container .progress-steps .progress-page > span {
    -webkit-transition : opacity 350ms, visibility 350ms;
    -moz-transition    : opacity 350ms, visibility 350ms;
    -ms-transition     : opacity 350ms, visibility 350ms;
    -o-transition      : opacity 350ms, visibility 350ms;
    transition         : opacity 350ms, visibility 350ms;
}

.questionnaire-container .page-item .button-next {
    text-align: right;
    padding: 30px 160px 0;
}
.questionnaire-container .page-item.start-page .button-next {
    padding: 30px 0 0;
    text-align: center;
}


.questionnaire-container .page-item .button-back {
    text-align: right;
    padding: 25px 160px 0;
}

.questionnaire-container .page-item .button-back a {
    color: #fff;
    text-transform: uppercase;

    margin-right: 33px;
}

.questionnaire-container .page-item .button-back button,
.questionnaire-container .page-item .button-back a,
.questionnaire-container .page-item .button-next button {
    position: relative;
    z-index: 400;
}

.questionnaire-container .answers-container,
.questionnaire-container .questions-container.questions-3,
.questionnaire-container .questions-container.questions-4,
.questionnaire-container .questions-container.questions-5 {
    clear: both;

    width: 800px;
    margin: 0 auto;

    padding: 50px 0 60px;
}
.questionnaire-container .questions-container.questions-4 {
    width: 850px;
    padding-top: 0;
}
.questionnaire-container .questions-container.questions-5 {
    width: 900px;
    padding-top: 0;
}

.questionnaire-container .button-container {
    position: absolute;
    right: 50px; bottom: 50px; left: 50px;

    clear: both;
}

.questionnaire-container .page-7 .answers-container {
    padding-top: 0;
}


.questionnaire-container .answer-item {
    /*float: left;*/
    display: inline-block;
}

.questionnaire-container .answers-container-inside {
    margin: 0 -10px;
    text-align: center;
}

.questionnaire-container .answers-container .answer-item {
    width: 25%;
    padding: 0 10px;
}
.questionnaire-container .answers-container .answer-item.long-field,
.questionnaire-container .answers-container .answer-item.is-textarea {
    width: 75%;
}

.questionnaire-container .input-container.hidden {
    display: none;
}

.questionnaire-container .answer-item .answer-item-inside {
    padding-top: 100%;
    position: relative;
    z-index: 400;

    cursor: pointer;
}

.questionnaire-container .answer-item.long-field .answer-item-inside {
    padding-top: 25%;
}

.questionnaire-container .answer-item.is-textarea .answer-item-inside {
    padding-top: 50%;
}
.questionnaire-container .answer-item.is-textarea.mini .answer-item-inside {
    padding-top: 100%;
}

.questionnaire-container .answer-item .answer-answer-container,
.questionnaire-container .answer-item .answer-item-inside > .input-container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    background: #aeb1b2;
}

.questionnaire-container .question-overview-item .overview-answer-item .checked,
.questionnaire-container .answer-item .checked {
    display: none;

    position: absolute;
    /*top: 50%; left: 50%;*/
    top: 10px; right: 10px; bottom: 10px; left: 15px;

    /*-webkit-transform : translate3d(-50%, -50%, 0);*/
    /*-moz-transform    : translate3d(-50%, -50%, 0);*/
    /*-ms-transform     : translate3d(-50%, -50%, 0);*/
    /*-o-transform      : translate3d(-50%, -50%, 0);*/
    /*transform         : translate3d(-50%, -50%, 0);*/
}

.questionnaire-container .question-overview-item .overview-answer-item .checked > svg,
.questionnaire-container .answer-item .checked > svg {
    width: 100% !important;
    height: 100% !important;

    margin-top: 20%;
}

.questionnaire-container .question-overview-item .overview-answer-item .checked path.check-sign,
.questionnaire-container .answer-item .checked path.check-sign {
    fill: none;
}

.questionnaire-container .question-overview-item .overview-answer-item.is-checked .checked path.check-sign,
.questionnaire-container .answer-item.is-checked .checked path.check-sign {
    fill: none;
    stroke: green;
    stroke-width: 20;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    -webkit-animation: draw 0.5s forwards;
    animation: draw 0.5s forwards;
}
@-webkit-keyframes draw {
    0% {
        stroke-dashoffset: 180;
    }
    99.9999% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes draw {
    0% {
        stroke-dashoffset: 180;
    }
    99.9999% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.questionnaire-container .answer-item .answer {
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px;

    display: table;
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;

    -webkit-transition : opacity 350ms, visibility 350ms, background 350ms, border-color 350ms;
    -moz-transition    : opacity 350ms, visibility 350ms, background 350ms, border-color 350ms;
    -ms-transition     : opacity 350ms, visibility 350ms, background 350ms, border-color 350ms;
    -o-transition      : opacity 350ms, visibility 350ms, background 350ms, border-color 350ms;
    transition         : opacity 350ms, visibility 350ms, background 350ms, border-color 350ms;
}
.questionnaire-container .answer-item.no-image .answer,
.questionnaire-container .answer-item.is-checked .answer,
.questionnaire-container .answer-item:hover .answer {
    opacity: 1;
    visibility: visible;
}

.questionnaire-container .answer-item.no-image .answer {
    background: transparent;
    border-color: transparent;
}

.questionnaire-container .answer-item.is-checked .answer {
    background: rgba(63, 191, 173, 0.65);
    border-color: rgba(63, 191, 173, 0.65);
}

.questionnaire-container .answer-item .answer .answer-inside {
    display: table-cell;
    width: 100%;
    height: 100%;

    vertical-align: middle;

    color: #fff;
    font-size: 25px;
}

.questionnaire-container .question-item.text-answers .answer-item .answer .answer-inside {
    padding-left: 15px;
    padding-right: 15px;
}
.questionnaire-container .question-item.text-answers .answer-item .answer .answer-inside span.text-line:first-child {
    font-size: 20px;
    text-transform: none;
}

.questionnaire-container .answer-item .answer .text-line {
    display: block;
    /*line-height: 60px;*/
}

.questionnaire-container .answer-item .answer .text-line:first-child {
    text-transform : uppercase;
}

.questionnaire-container .answer-item .image {
    width: 100%;
    height: 100%;
}

.questionnaire-container .questions-container.questions-3 .question-item,
.questionnaire-container .questions-container.questions-4 .question-item,
.questionnaire-container .questions-container.questions-5 .question-item {
    float: left;

    width: 33.33333%;
}
.questionnaire-container .questions-container.questions-4 .question-item {
    width: 25%;
}
.questionnaire-container .questions-container.questions-5 .question-item {
    width: 20%;
}




.questionnaire-container .questions-container.questions-3 .question-item .answers-container,
.questionnaire-container .questions-container.questions-4 .question-item .answers-container,
.questionnaire-container .questions-container.questions-5 .question-item .answers-container {
    width: 100%;
}
.questionnaire-container .page-item .questions-container.questions-3 .question-title,
.questionnaire-container .page-item .questions-container.questions-4 .question-title,
.questionnaire-container .page-item .questions-container.questions-5 .question-title {
    float: none;
    padding: 0;
    margin: 0;

    line-height: 1.4em;
}
.questionnaire-container .page-item .questions-container.questions-3 .question-title .question-title-inside,
.questionnaire-container .page-item .questions-container.questions-4 .question-title .question-title-inside,
.questionnaire-container .page-item .questions-container.questions-5 .question-title .question-title-inside {
    -webkit-transform : none;
    -moz-transform    : none;
    -ms-transform     : none;
    -o-transform      : none;
    transform         : none;
}
.questionnaire-container .page-item .questions-container.questions-3 .question-title .question-title-inside > *,
.questionnaire-container .page-item .questions-container.questions-3 .question-title .question-title-inside p,
.questionnaire-container .page-item .questions-container.questions-4 .question-title .question-title-inside > *,
.questionnaire-container .page-item .questions-container.questions-4 .question-title .question-title-inside p,
.questionnaire-container .page-item .questions-container.questions-5 .question-title .question-title-inside > *,
.questionnaire-container .page-item .questions-container.questions-5 .question-title .question-title-inside p{
    text-align: center;
}

.questionnaire-container .page-item .questions-container .page-question,
.questionnaire-container .page-item .questions-container.questions-3 .question-title .question,
.questionnaire-container .page-item .questions-container.questions-4 .question-title .question,
.questionnaire-container .page-item .questions-container.questions-5 .question-title .question {
    line-height: 1.6em;
    min-height: 80px;

    padding: 0 20px;
}
.questionnaire-container .page-item .questions-container .page-question {
    min-height: 10px;
}

.questionnaire-container .questions-container.questions-3 .answers-container .answer-item,
.questionnaire-container .questions-container.questions-4 .answers-container .answer-item,
.questionnaire-container .questions-container.questions-5 .answers-container .answer-item {
    display: block;
    width: 100%;
}

/*.questionnaire-container .questions-container.questions-3 .answers-container.answers-2 .answer-item {*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
/*}*/
/*.questionnaire-container .questions-container.questions-3 .answers-container.answers-2 .answer-item:first-child {*/
    /*margin-top: -5px;*/
    /*!*padding-top: 0;*!*/
/*}*/
/*.questionnaire-container .questions-container.questions-3 .answers-container.answers-2 .answer-item:last-child {*/
    /*padding-top: 5px;*/
    /*!*padding-bottom: 0;*!*/
    /*margin-botom: -5px;*/
/*}*/

.questionnaire-container .questions-container.questions-3 .answers-container.answers-2 .answers-container-inside {
    /*height: calc(100% + 10px);*/

    margin-top: -5px;
    margin-bottom: -5px;
}

.questionnaire-container .questions-container.questions-3 .answers-container.answers-2 .answer-item .answer-item-inside > .input-container {
    top: 5px; bottom: 5px;
}

/*.questionnaire-container .answer-item .answer-item-inside {*/
    /*cursor: pointer;*/
/*}*/

.questionnaire-container .answer-item.h50 .answer-item-inside {
    padding-top: 50%;
}
.questionnaire-container .answers-container.answers-2 .answer-item.h50 .answer-item-inside {
    padding-top: calc(50% + 5px);
}

.questionnaire-container .image.is-animated {
    z-index: 900;
}

.questionnaire-container .questions-container.questions-3 .answers-container-inside,
.questionnaire-container .questions-container.questions-4 .answers-container-inside,
.questionnaire-container .questions-container.questions-5 .answers-container-inside {
    margin: 0 -5px;
}

.questionnaire-container .answer-item .answer-item-inside > .input-container input,
.questionnaire-container .answer-item .answer-item-inside > .input-container .select-tag-container {
    position: absolute;
    top: 50%; left: 0;
    
    width: 60%;
    margin: 0 20%;

    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 10px 5px;

    border: none;
    border-bottom: 2px solid #fff;

    background: transparent;

    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;

    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    transform         : translateY(-50%);
}

.questionnaire-container .answer-item .answer-item-inside > .input-container textarea {
    width: 100%;
    height: 100%;

    color: #fff;

    resize: none;
    
    padding: 20px;
    border: none;
    background: transparent;

    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;

    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
}

.questionnaire-container .answer-item.mini .answer-item-inside > .input-container textarea {
    width: 85%; height: 130px;

    font-size: 14px;

    padding: 12px;

    background: rgba(0, 0, 0, 0.25);
}
.questionnaire-container .answer-item.mini .answer-item-inside > .input-container.label-above textarea {
    margin-top: 100px;
}

.questionnaire-container .answer-item .answer-item-inside > .input-container .select-tag-container {
    width: 70%;
    margin: 0 15%;

    height: 70px;
    line-height: 56px;
}

.questionnaire-container .answer-item .answer-item-inside > .input-container.has-label input,
.questionnaire-container .answer-item .answer-item-inside > .input-container.has-label .select-tag-container {
    top: calc(50% - 20px);
}

.questionnaire-container .answer-item .answer-item-inside > .input-container .select-tag-container .select-option {
    float: left;

    width: 53%;
    height: 100%;

    font-size: 40px;
    text-align: left;

    border-right: 1px solid #fff;
}
.questionnaire-container .answer-item .answer-item-inside > .input-container .select-tag-container .select-option:not(:first-child) {
    border: none;
    text-align: right;

    width: 47%;
}

.questionnaire-container .answer-item .answer-item-inside > .input-container label {
    position: absolute;
    top: calc(50% + 25px); left: 0;

    width: 80%;
    margin: 0 10%;

    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
}
.questionnaire-container .answer-item .answer-item-inside > .input-container.label-above label {
    top: 15px;
}

.questionnaire-container .overview-page {
    background: #1b1b1b;
}

.questionnaire-container .page-item.overview-page .title {
    color: #fff;
    font-size: 25px;
}
.questionnaire-container .question-overview-item .overview-title {
    position: relative;

    font-size: 16px;
    text-transform: uppercase;
    line-height: normal;

    padding: 5px 0 0 20px;

}
.questionnaire-container .question-overview-item .overview-title.normal-text {
    text-transform: none;
}

.questionnaire-container .question-overview-item .overview-title:before,
.questionnaire-container .question-overview-item .overview-title:after {
    content: '';

    position: absolute;
    top: 50%; left: 0;

    width: 14px;
    height: 4px;

    margin: -2px 0 0 0;

    background: #fff;
}
.questionnaire-container .question-overview-item .overview-title:after {
    width: 4px;
    height: 14px;

    margin: -7px 0 0 5px;
}

.questionnaire-container .question-overview-item .overview-title > span {
    position: relative;
    z-index: 80;
}

.questionnaire-container .error-msg {
    position: absolute;
    bottom: 20%; left: 50%;
    
    width: 50%;

    color: #ff615f;
    text-align: center;

    -webkit-transform : translateX(-50%);
    -moz-transform    : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    transform         : translateX(-50%);
}

.questionnaire-container .questions-container.questions-3 .question-item-inside,
.questionnaire-container .questions-container.questions-4 .question-item-inside,
.questionnaire-container .questions-container.questions-5 .question-item-inside {
    position: relative;
}

.questionnaire-container .questions-container.questions-3 .error-msg,
.questionnaire-container .questions-container.questions-4 .error-msg,
.questionnaire-container .questions-container.questions-5 .error-msg {
    top: calc(100% - 40px); bottom: auto;

    width: 100%;

    padding: 0 12px;
}

.questionnaire-container .image-map-container {
    display: inline-block;
    position: relative;
}

.questionnaire-container .image-map-container .image-map {
    position: relative;
    z-index: 420;
}

.questionnaire-container .answers-container .answer-item.image-map-point {
    position: absolute;

    z-index: 450;

    padding: 0;

    width: 16px;
    height: 16px;
    
    background: #fff;

    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    border-radius         : 50%;

    -webkit-transform : translate3d(-50%, -50%, 0);
    -moz-transform    : translate3d(-50%, -50%, 0);
    -ms-transform     : translate3d(-50%, -50%, 0);
    -o-transform      : translate3d(-50%, -50%, 0);
    transform         : translate3d(-50%, -50%, 0);

    -webkit-transition : background 350ms;
    -moz-transition    : background 350ms;
    -ms-transition     : background 350ms;
    -o-transition      : background 350ms;
    transition         : background 350ms;
}

.questionnaire-container .answers-container .answer-item.image-map-point .answer-answer-container {
    background: none;
    border: none;

    position: static;
    top: auto; right: auto; bottom: auto; left: auto;
}

.questionnaire-container .answer-item.image-map-point .answer,
.questionnaire-container .answer-item.image-map-point .answer:hover,
.questionnaire-container .answer-item.image-map-point .answer.is-active {
    opacity: 0;
    visibility: hidden;
}

.questionnaire-container .answer-item.image-map-point .answer-item-inside,
.questionnaire-container .answer-item.image-map-point .answer-answer-container {
    padding: 0;

    width: 100%;
    height: 100%;
}

.questionnaire-container .question-item.has-image-map .answers-container-inside {
    position: relative;
}

.questionnaire-container .question-item.has-image-map .map-hover-item-title {
    position: absolute;
    bottom: -100px; left: -60px;

    width: 185px;
    height: 185px;

    display: table;
    background: rgba(98, 98, 98, 0.7);

    z-index: 460;
}
.questionnaire-container .question-item.has-image-map .map-hover-item-title .mhit-inside {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;
    text-align: center;

    padding: 20px 15px;

    font-size: 16px;
}


.questionnaire-container .page-item.overview-page .title {
    padding: 0 0 65px;
}

.questionnaire-container .overview-col-left {
    float: left;
    /*width: 33.33333%;*/
    width: 25%;

    position: relative;
}
.questionnaire-container .overview-col-right {
    float: right;
    /*width: 66.66666%;*/
    width: 70%;
}

.questionnaire-container .question-overview-item {
    width: 100%;
}

.questionnaire-container .question-overview-item .overview-answer-container {
    padding: 10px 0 0 20px;
}

.questionnaire-container .overview-col-right .question-overview-item {
    float: left;
    /*width: 50%;*/
    width: 33.33333%
}

.questionnaire-container .overview-col-left .question-overview-item {
    height: 140px;
    padding: 0 0 20px;
}

.questionnaire-container .overview-col-left .question-overview-item:last-child {
    position: absolute;
    left: 130px; bottom: 0;

    width: 120px;
}

.questionnaire-container .overview-col-right .question-overview-item {
    min-height: 110px;
    padding:  0 20px 20px 0;
}

.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item {
    position: relative;

    width: 77px;
    height: 77px;

    background: #626262;
}
.questionnaire-container .question-overview-item .overview-answer-item {
    display: none;
}
.questionnaire-container .question-overview-item .overview-answer-item.input-answer,
.questionnaire-container .question-overview-item .overview-answer-item.is-checked {
    display: block;
}

.questionnaire-container .question-overview-item .overview-answer-item.is-checked {
    position: relative;
    z-index: 80;
}

.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item .answer {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: table;
    table-layout: fixed;

    width: 77px;
    height: 77px;
}
.questionnaire-container .overview-col-left .question-overview-item[data-alias="gelaende"] .overview-answer-item .answer {
    display: none;
}

.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item .answer .answer-inside {
    display: table-cell;

    width: 100%;
    height: 100%;

    vertical-align: middle;

    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em;


    padding: 10px 5px;
}

.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item .answer span.text-line:not(:first-child) {
    display: none;
}

.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item .answer-answer-container,
.questionnaire-container .overview-col-left .question-overview-item .overview-answer-item .answer-answer-container .image {
    width: 100%;
    height: 100%;
}

.questionnaire-container .overview-col-right .question-overview-item .overview-answer-item .answer-inside br {
    display: none;
}
.questionnaire-container .overview-col-right .overview-answer-item .answer-inside span.text-line + br + span.text-line {
    padding: 0 0 0 5px;
}

.questionnaire-container .overview-col-right .overview-answer-item .answer-inside {
    line-height: 1em;
}

.questionnaire-container .question-overview-item .overview-answer-item.input-answer .input-container,
.questionnaire-container .overview-col-right .overview-answer-item .answer-inside > span {
    position: relative;
    z-index: 80;
}

.questionnaire-container .page-item.overview-page .button-next {
    text-align: center;
}

/*.questionnaire-container .page-item.overview-page .button-next button {*/
    /*margin: -50px 0 0;*/
/*}*/

.questionnaire-container .page-item.overview-page .overview-col-container {
    width: 960px;
    margin: 0 auto;
}

.questionnaire-container .page-item.overview-page .overview-col-container:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

.questionnaire-container .overview-col-left .question-overview-item.text-answers .overview-answer-item .answer .answer-inside {
    font-size: 10px;
    text-transform: none;
    line-height: 1em;

    padding-top: 8px;
    padding-bottom: 8px;
}